<div id="index-content">
  <div class="story-wrapper">
    {{#story }}
      <div class="story-wrapper">
        <p>
          {{technology}} is like {{comparison}}.
          <br>
          Here's why: {{story}}
        </p>
      </div>
    {{/story}}
  </div>

  <a href="/new">Write your own!</a>
  <br>
  <a href="/library">See all analogies --></a>
</div>
