<div id="new-content">
  <form id="new-story-form" action="/create" method="post" enctype="application/x-www-form-urlencoded">
    <input type="text"   name="technology"  value="a" placeholder="technology">
    <span> is like </span>
    <input type="text"   name="comparison"  value="b" placeholder="comparison">
    <br>
    <br>
    <span> Here's why: </span>
    <input type="text"   name="story"  value="c" placeholder="story">
    <br>
    <br>
    <input type="submit" name="button" value="Submit">
  </form>
  <a href="/">Go home.</a>
</div>
