<div id="story-content">
  <ul>
    <li>Technology: {{ story.technology }}</li>
    <li>Comparison: {{ story.comparison }}</li>
    <li>Explanation: {{ story.story }}</li>
  </ul>
  <a href="/">Go home.</a>
</div>
